.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: #1A1A1C;
color:white;
}

table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #f1f1f1;
}

td:not(:last-child), th:not(:last-child) {
  border-right: none;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 200px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.imgname{
  display: flex;
  align-items: center;
  text-align-last: center;
  justify-content: start;
  padding-left:100px;
    gap:50px;
}
